.accent-header {
  margin-block: 20px;
  background-color: var(--color-accent);
  display: inline-block;
  padding-block: clamp(6px, -9px + 4.17vw, 11px);
  padding-right: clamp(20px, -4780px + 1000vw, 30px);
  padding-left: 50px;

  color: var(--color-white);
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 500;

  @include phone-above {
    padding-block: 16px;
  }
}
