.footer {
  color: var(--color-white);
  background-color: var(--color-light-blue);

  &__underline {
    border-bottom: var(--border-white);
  }

  &__above-line {
    display: flex;
    justify-content: space-between;
    padding-block: 50px;
    column-gap: clamp(15px, -162px + 16.41vw, 58px);

    @media (max-width: 700px) {
      flex-direction: column;
      row-gap: clamp(45px, 23px + 4.55vw, 55px);
    }

    &-links {
      display: flex;
      flex-direction: column;
    }
  }

  &__logo {
    @include flex-center;
    flex-direction: column;

    &-icon-wrapper {
      svg {
        width: 389px;
        height: 126px;

        @media (max-width: 1110px) {
          width: clamp(305px, -1165px + 140vw, 305px);
          height: auto;
        }

        @include tablet {
          width: 321px;
        }
        @media (max-width: 700px) {
          height: clamp(72px, 53px + 5.29vw, 90px);
          width: auto;
        }
      }
    }
  }

  &__contacts {
    font-family: var(--font-family-alt);
    font-weight: 500;
    font-size: 18px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    width: fit-content;
    align-self: center;
    margin-top: 20px;
    row-gap: clamp(5px, -19995px + 2000vw, 25px);

    @include tablet {
      font-size: clamp(16px, 9px + 0.86vw, 18px);
    }

    @include phone {
      font-size: clamp(16px, 10px + 1.67vw, 18px);
    }

    &-phone-string {
      @include flex-center;
    }

    &-link,
    &-string {
      @include flex-center;
      justify-content: start;
      gap: 4px;
      letter-spacing: 0.07em;

      &-icon-wrapper {
        @include flex-center;
        @include square(40px);
      }
    }

    &-string {
      font-size: 14px;
      letter-spacing: 0.04em;
    }
  }

  &__map {
    min-width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    gap: 17px;

    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;

    @include tablet {
      max-width: 54%;
      font-size: 16px;
      font-weight: 700;
    }

    @media (max-width: 700px) {
      height: auto;
      max-width: 100%;
    }

    iframe {
      width: 100%;
      height: clamp(209px, -63791px + 6400vw, 273px);
      border-radius: 7px;
    }
  }

  &__address-link {
    @include flex-center;
    gap: 4px;

    &-icon-wrapper {
      align-self: flex-start;
      padding-top: 2px;
    }
  }

  &__socials {
    padding-block: 27px;
    @include flex-center;
    gap: 2px;

    @include tablet {
      padding-block: clamp(20px, -13px + 4.31vw, 30px);
    }

    &-link-icon-wrapper {
      @include flex-center;
      @include square(40px);
    }
  }
}
